.main-page {

  &__form {
    background: #fc5a61;
  }

  &__present {
    text-align: center;
    font-size: 25px;
  }

  &__brand-logo {
    width: 500px;
    max-width: 100%;
    height: 300px;
    background: url('./Stack_Overflow_logo.svg') no-repeat;
    background-size: contain;
    margin: 0 auto;
  }
}