.search-form {

  &__inner {
    display: table;
    width: 100%;
  }

  &__area {
    display: table-row;
  }

  &__cell {
    display: table-cell;
    vertical-align: top;
  }

  &__fields {
    width: 100%;
  }

  &__controls {
    float: right;
  }

  //overrides
  & &__sbm-btn {
    border-radius: 0 5px 5px 0;

    @media screen and (max-width: 400px){
      width: 60px;
      font-size: 13px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__input {
    border-right: 0;
    border-radius: 5px 0 0 5px;
    padding-left: 55px;
    font-size: 17px;
    background-image: url('./SearchIcon.svg');
    background-repeat: no-repeat;
    background-position: 20px center;
  }
}